.row
  .col-xs-12
    = form_for(@topic, url: [:panel, @topic], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: @topic

      .form-group
        = f.label :category_id
        = link_to 'Create category', [:new, :panel, :category], class: 'btn btn-success'
        %fieldset
          = f.collection_select :category_id, Category.all, :id, :name

      .form-group
        = f.label :name
        = surround '(', ')' do
          = f.label :disabled
          = f.check_box :disabled
        %fieldset
          = f.text_field :name

      = f.fields_for :image, (f.object.image || f.object.build_image) do |img_f|
        .form-group
          = img_f.label :image

          - if f.object.image
            = image_tag f.object.image.file.standard.url

          = img_f.file_field :file
          = img_f.hidden_field :file_cache

      .actions
        = f.button 'Submit', class: 'btn btn-success'
