.row
  .col-xs-12
    = form_for(@topic, url: [:panel, @topic], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: @topic

      .form-group
        = f.label :category_id
        = link_to 'Add category', [:new, :panel, :category], class: 'btn btn-success'
        %fieldset
          = f.collection_select :category_id, Category.all, :id, :name

      .form-group
        = f.label :name
        %fieldset
          = f.text_field :name

      .actions
        = f.button 'Submit', class: 'btn btn-success'
