.row
  .col-xs-12
    = form_for(@topic, url: [:panel, @topic], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: f.object

      .form-group
        = f.label t('token.category')
        = link_to t('token.create_category'), [:new, :panel, :category], class: 'btn btn-success'
        %fieldset
          = f.collection_select :category_id, Category.all, :id, :name

      = render 'panel/shared/form_name_and_disabled_part', f: f

      = render 'panel/shared/form_file_part', f: f

      .actions
        = f.button t('panel.views.proceed'), class: 'btn btn-success'
