%tr
  %td
    - if topic.image
      = image_tag topic.image.file.thumbnail.url, height: 80
  %td
    %strong= link_to topic.name, [:panel, topic]
  %td
    = link_to t('token.add_post_linked'), new_panel_post_path(topic_id: topic.id), class: 'btn btn-success'
    = link_to t('token.add_video_linked'), new_panel_video_path(topic_id: topic.id), class: 'btn btn-success'
  %td= link_to t('panel.views.edit'), [:edit, :panel, topic], class: 'btn btn-primary'
  %td= link_to t('panel.views.remove'), [:panel, topic], method: :delete, class: 'btn btn-danger', data: {confirm: t('panel.views.confirm')}