%h1= t('token.topics_list')

- if @topics.present?
  = paginate @topics, theme: 'twitter-bootstrap-3'

  %table.table.table-striped
    = render partial: 'panel/topics/topic', collection: @topics

  = paginate @topics, theme: 'twitter-bootstrap-3'
- else
  .text-center
    %h1= t('token.no_topics')
    = link_to t('token.add_topic'), [:new, :panel, :topic], class: 'btn btn-success'
