= nav_bar fixed: :top, brand: 'Sweety Panel', responsive: true do
  = menu_group do
    = menu_item 'Home', panel_path
    = menu_divider
    = drop_down 'Categories' do
      = menu_item 'Index', panel_categories_path
      = menu_item 'New', new_panel_category_path
    = drop_down 'Topics' do
      = menu_item 'Index', panel_topics_path
      = menu_item 'New', new_panel_topic_path
    = drop_down 'Posts' do
      = menu_item 'Index', panel_posts_path
      = menu_item 'New', new_panel_post_path

  = menu_group pull: :right do
    = menu_item 'Close', root_path
