= nav_bar fixed: :top, brand: t('title'), responsive: true do
  = menu_group do
    = drop_down t('token.categories') do
      = menu_item t('panel.menu.index'), panel_categories_path, class: 'bg-info'
      = menu_item t('panel.menu.new'), new_panel_category_path, class: 'bg-success'
    = drop_down t('token.topics') do
      = menu_item t('panel.menu.index'), panel_topics_path, class: 'bg-info'
      = menu_item t('panel.menu.new'), new_panel_topic_path, class: 'bg-success'
    = drop_down t('token.posts') do
      = menu_item t('panel.menu.index'), panel_posts_path, class: 'bg-info'
      = menu_item t('panel.menu.new'), new_panel_post_path, class: 'bg-success'

  = menu_group pull: :right do
    = menu_item t('panel.menu.close'), root_path, class: 'bg-danger'
