.row
  .col-md-12.text-center
    %h1.inlined
      = "#{t('token.gallery_topic')}:"
      = @gallery_topic.name
      = link_to t('panel.views.edit'), [:edit, :panel, @gallery_topic], class: 'btn btn-primary'
      = link_to t('panel.views.remove'), [:panel, @gallery_topic], method: :delete, class: 'btn btn-danger', data: {confirm: t('panel.views.confirm')}

  = link_to t('token.add_gallery_item_linked'), new_panel_gallery_item_path(gallery_topic_id: @gallery_topic.id), class: 'btn btn-success'

- if @gallery_items.present?
  %h4= t('token.gallery_items_in_gallery_topic')
  = paginate @gallery_items, theme: 'twitter-bootstrap-3'

  %table.table.table-striped
    = render partial: 'panel/gallery_items/gallery_item', collection: @gallery_items

  = paginate @gallery_items, theme: 'twitter-bootstrap-3'
- else
  .text-center
    %h1= t('token.no_gallery_items')
