%h1 Listing gallery_items

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Disabled
      %th
      %th
      %th

  %tbody
    - @gallery_items.each do |gallery_item|
      %tr
        %td= gallery_item.name
        %td= gallery_item.description
        %td= gallery_item.disabled
        %td= link_to 'Show', gallery_item
        %td= link_to 'Edit', edit_gallery_item_path(gallery_item)
        %td= link_to 'Destroy', gallery_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gallery item', new_gallery_item_path
