%p#notice= notice

%p
  %b Name:
  = @gallery_item.name
%p
  %b Description:
  = @gallery_item.description
%p
  %b Disabled:
  = @gallery_item.disabled

= link_to 'Edit', edit_gallery_item_path(@gallery_item)
\|
= link_to 'Back', gallery_items_path
