- @cated_posts.each_pair do |category, topics|
  %h1.text-center.bg-success= "Category #{category}:"

  - topics.each_pair do |topic, posts|
    .col-xs-12
      %h3.text-center.bg-info= "Topic #{topic}:"
      = render posts
