-#- @cated_posts.each_pair do |category, topics|
-#  %h1.text-center.bg-success= "#{t('token.category')} #{category}:"
-#
-#  - topics.each_pair do |topic, posts|
-#    .col-xs-12
-#      %h3.text-center.bg-info= "#{t('token.topic')} #{topic}:"
-#      = render posts

.row
  = render Category.enabled.order(:order_pos)

  .col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center
    .item.fixed_height
      = link_to gallery_topics_path do
        %h3= t('client.menu.gallery')
        = async_image(GalleryTopic.enabled.first)