.row
  = form_for(@category, url: [:panel, @category]) do |f|
    = render 'shared/form_errors', object: @category

    .form-group
      = f.label :name
      = f.text_field :name

    .actions
      = f.submit