.row
  .col-xs-12
    = form_for(@category, url: [:panel, @category], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: @category

      .form-group
        = f.label :name
        %fieldset
          = f.text_field :name

      .actions
        = f.button 'Submit'