.row
  .col-xs-12
    = form_for(@category, url: [:panel, @category], html: {class: 'blockable', multypart: true}) do |f|
      = render 'panel/shared/form_errors', object: f.object

      = render 'panel/shared/form_name_and_disabled_part', f: f

      = render 'panel/shared/form_file_part', f: f

      .actions
        = f.button t('panel.views.proceed'), class: 'btn btn-success'