.row
  .col-xs-12
    = form_for(@category, url: [:panel, @category], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: @category

      .form-group
        = f.label :name
        = surround '(', ')' do
          = f.label :disabled
          = f.check_box :disabled
        %fieldset
          = f.text_field :name

      = f.fields_for :image, (f.object.image || f.object.build_image) do |img_f|
        .form-group
          = img_f.label :image
          = img_f.file_field :file
          = img_f.hidden_field :file_cache

      .actions
        = f.button 'Submit', class: 'btn btn-success'