%h1= t('token.category_list')

- if @categories.present?
  = paginate @categories, theme: 'twitter-bootstrap-3'

  %table.table.table-striped
    = render partial: 'panel/categories/category', collection: @categories

  = paginate @categories, theme: 'twitter-bootstrap-3'
- else
  .text-center
    %h1= t('token.no_categories')
    = link_to t('token.add_category'), [:new, :panel, :category], class: 'btn btn-success'

