.row
  .col-md-12
    %h1
      Category:
      = @category.name
      = link_to 'Edit', [:edit, :panel, @category], class: 'btn btn-primary'

- if @topics.present?
  %h4 Topics in category:
  %table.table.table-striped
    - @topics.each do |topic|
      %tr
        %td= link_to topic.name, [:panel, topic]
        %td= link_to 'Add post', new_panel_post_path(topic_id: topic.id), class: 'btn btn-success'

  = paginate @topics, theme: 'twitter-bootstrap-3'
- else
  .text-center
    %h1 No topics yet
    = link_to 'Add topic', new_panel_topic_path(category_id: @category.id), class: 'btn btn-success'
