= nav_bar fixed: :top, brand: 'Sweety`s Memo', responsive: true do
  = menu_group do
    - Category.enabled.all.each do |category|
      - if category.topics.present?
        = drop_down category.name do
          - category.topics.first(5).each do |topic|
            = menu_item topic.name, topic_path(topic)
          - if category.topics.count > 5
            = menu_item '...', category_path(category)

  = menu_group pull: :right do
    %li
      = form_for :search, url: search_path, html: {class: 'navbar-form', role: 'search'} do |f|
        .input-group
          = f.text_field :term, class: 'form-control', placeholder: 'Search'
          .input-group-btn
            = f.button class: 'btn btn-default' do
              %i.fa.fa-search

    - if current_user
      = menu_item 'Panel', panel_path
      = menu_item 'Log Out', destroy_user_session_path, method: :delete
    - else
      = drop_down (image_tag('login.png', height: 25)) do
        = form_for :user, url: session_path(:user), html: {class: 'navbar-form pull-right'} do |f|
          %p= f.text_field :email, placeholder: 'Email'
          %p= f.password_field :password, placeholder: 'Pass'
          %p= f.submit 'Sign in'