= nav_bar fixed: :top, brand: t('title'), responsive: true do
  = menu_group do
    - unless current_user
      %li.visible-xs
        = form_for :user, url: session_path(:user), html: {class: 'navbar-form'} do |f|
          = f.text_field :email, placeholder: t('client.menu.email')
          = f.password_field :password, placeholder: t('client.menu.pass')
          = f.submit t('client.menu.sign_in')

      %li.visible-xs
        = form_for :search, url: search_path, html: {class: 'navbar-form', role: 'search'} do |f|
          .input-group
            = f.text_field :term, class: 'form-control', placeholder: t('client.menu.search')
            .input-group-btn
              = f.button class: 'btn btn-default' do
                %i.fa.fa-search

    - Category.enabled.all.each do |category|
      - if category.topics.present?
        = drop_down category.name do
          - category.topics.first(5).each do |topic|
            = menu_item topic.name, topic_path(topic)
          - if category.topics.count > 5
            = menu_item '...', category_path(category)

    - if GalleryItem.enabled.present?
      = menu_item t('client.menu.gallery'), gallery_items_path

  = menu_group pull: :right do
    %li.visible-md.visible-lg.visible-sm
      = form_for :search, url: search_path, html: {class: 'navbar-form', role: 'search'} do |f|
        .input-group
          = f.text_field :term, class: 'form-control', placeholder: t('client.menu.search')
          .input-group-btn
            = f.button class: 'btn btn-default' do
              %i.fa.fa-search

    - if current_user
      = menu_item t('client.menu.panel'), panel_path
      = menu_item t('client.menu.log_out'), destroy_user_session_path, method: :delete
    - else
      %li.dropdown.visible-md.visible-lg.visible-sm
        %button{class: "dropdown-toggle navbar-btn", "data-toggle" => "dropdown"}
          =name_and_caret(image_tag('login.png', height: 20))
        -#= drop_down_link(image_tag('login.png', height: 20))
        = drop_down_sublist do
          = form_for :user, url: session_path(:user), html: {class: 'navbar-form pull-right'} do |f|
            %p= f.text_field :email, placeholder: t('client.menu.email')
            %p= f.password_field :password, placeholder: t('client.menu.pass')
            %p= f.submit t('client.menu.sign_in')
