.row
  .col-xs-12
    = form_for(@post, url: [:panel, @post], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: @post

      .form-group
        = f.label :topic_id
        = surround('(', ')') do
          = link_to 'Create new Topic', [:new, :panel, :topic]
        %fieldset
          = f.collection_select :topic_id, Topic.all, :id, :name

      .form-group
        = f.label :name
        %fieldset
          = f.text_field :name

      .form-group
        = f.label :body
        %fieldset
          = f.text_area :body, rows: 8

      .actions
        = f.button 'Submit'
