.row
  .col-xs-12
    = form_for(@post, url: [:panel, @post], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: @post

      .form-group
        = f.label :topic_id
        = link_to 'Create Topic', [:new, :panel, :topic], class: 'btn btn-success'
        %fieldset
          = f.collection_select :topic_id, Topic.all, :id, :name

      .form-group
        = f.label :name
        = surround '(', ')' do
          = f.label :disabled
          = f.check_box :disabled
        %fieldset
          = f.text_field :name

      .form-group
        = f.label :body
        %fieldset
          = f.text_area :body, rows: 8, class: 'tinymce'
          = tinymce

      .actions
        = f.button 'Submit', class: 'btn btn-success'
