.row
  .col-xs-12
    = form_for(@post, url: [:panel, @post], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: @post

      .form-group
        = f.label t('token.topic')
        = link_to t('token.create_topic'), [:new, :panel, :topic], class: 'btn btn-success'
        %fieldset
          = f.collection_select :topic_id, Topic.all, :id, :name

      .form-group
        = f.label t('panel.views.name')
        = surround '(', ')' do
          = f.label t('panel.views.disabled')
          = f.check_box :disabled
        %fieldset
          = f.text_field :name

      .form-group
        = f.label t('panel.views.body')
        %fieldset
          = f.text_area :body, rows: 8, class: 'tinymce'
          = tinymce

      .actions
        = f.button t('panel.views.proceed'), class: 'btn btn-success'
