.row
  .col-xs-12
    = form_for(@post, url: [:panel, @post], html: {class: 'blockable', multypart: true}) do |f|
      = f.hidden_field :content_type
      = render 'shared/form_errors', object: f.object

      .form-group
        = f.label t('token.topic')
        = link_to t('token.create_topic'), [:new, :panel, :topic], class: 'btn btn-success'
        %fieldset
          = f.collection_select :topic_id, Topic.all, :id, :name

      = render 'panel/shared/form_name_and_disabled_part', f: f

      .form-group
        = f.label t('panel.views.body')
        %fieldset
          = f.text_area :body, rows: 8, class: 'editor'

      .actions
        = f.button t('panel.views.proceed'), class: 'btn btn-success'
