%tr
  %td= image_tag("#{post.content_type_str}.png", height: 60)
  %td
    %strong= link_to post.name, [:panel, post]
  %td= link_to t('panel.views.edit'), [:edit, :panel, post], class: 'btn btn-primary'
  %td= link_to t('panel.views.remove'), [:panel, post], method: :delete, class: 'btn btn-danger', data: {confirm: t('panel.views.confirm')}