.row
  .col-xs-12
    = form_for(@gallery_item, url: [:panel, @gallery_item], html: {class: 'blockable', multypart: true}) do |f|
      = render 'shared/form_errors', object: f.object

      = render 'panel/shared/form_name_and_disabled_part', f: f

      .form-group
        = f.label t('panel.views.description')
        %fieldset
          = f.text_area :description, rows: 8, class: 'tinymce'
          = tinymce

      = render 'panel/shared/form_file_part', f: f

      .actions
        = f.button t('panel.views.proceed'), class: 'btn btn-success'

