!!!
%html
  %head
    %title= t('title')
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %body
    #body_wrapper
      = render 'layouts/application/navbar'

      .container-fluid.body
        = image_tag('background.jpg', id: 'full-screen-background-image')
        = render 'shared/notifications'

        .row
          .weather_panel
          #main_content.col-xs-12.with_padding{data: {loading_img: image_path('loading.gif')}}
            = yield